[http]
	# proxy = http://127.0.0.1:15777
[https]
	# proxy = http://127.0.0.1:15777
[user]
    name = linruohan
    email = mjt1220@126.com
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
[oh-my-zsh]
    hide-dirty = 0
    hide-status = 0
[credential "https://gitee.com"]
    provider = generic
[core]
    quotepath = false

[delta]
	navigate = true    # use n and N to move between diff sections
	light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
	show-syntax-themes	= Dracula
	side-by-side = true
[diff]
    tool = kitty
    guitool = kitty.gui
[difftool]
    prompt = false
    trustExitCode = true
[difftool "kitty"]
    cmd = kitty +kitten diff $LOCAL $REMOTE
[difftool "kitty.gui"]
    cmd = kitty kitty +kitten diff $LOCAL $REMOTE
