<div class="page-content">

    {{ block 'secondary_sidebar'}}
    {{ include "./secondary_sidebar.html"}}
    {{ /block}}
    <!-- Page Header -->
    {{ block 'page_header'}}
    {{ include "./page_header.html"}}
    {{ /block}}
    <!-- /Page Header -->
    {{ block 'page_inner'}}
    {{ include "./page_inner.html"}}
    {{ /block}}

    {{ block 'main_right_sidebar'}}
    {{ include "./main_right_sidebar.html"}}
    {{ /block}}
    {{ block 'chat_right_sidebar'}}
    {{ include "./chat_right_sidebar.html"}}
    {{ /block}}
</div>
