{% from 'common/_macros.html' import static %}
<!-- Javascripts -->
<script src="{{ static('assets/plugins/jquery/jquery-3.1.0.min.js') }}"></script>
<script src="{{ static('assets/plugins/bootstrap/popper.min.js') }}"></script>
<script src="{{ static('assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ static('assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>
<script src="{{ static('assets/plugins/switchery/switchery.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.6.12/apexcharts.min.js" integrity="sha256-ZMYJj1zqJWx62qFPjHFqG/lkildNfGhU7dVnQrpdDKY=" crossorigin="anonymous"></script>
<script src="{{ static('assets/js/concept.min.js') }}"></script>
<script src="{{ static('assets/js/pages/dashboard.js') }}"></script>