<div class="page-sidebar-inner">
    <div class="page-sidebar-menu">
        <ul>
            <li>
                <a href="#" data-toggle="tooltip" data-placement="right" title="Dashboard"><i class="fas fa-rocket"></i></a>
            </li>
            <li>
                <a href="#" data-toggle="tooltip" data-placement="right" title="News"><i
                        class="fas fa-globe-africa"></i></a>
            </li>
            <li>
                <a href="#" data-toggle="tooltip" data-placement="right" title="Inbox"><i class="fas fa-inbox"></i></a>
            </li>
            <li>
                <a href="#" data-toggle="tooltip" data-placement="right" title="Chat"><i
                        class="far fa-comments"></i></a>
            </li>
        </ul>
    </div>
</div>
