<div class="secondary-sidebar">
    <div class="secondary-sidebar-bar">
        <a href="{{ url_for('cms.index') }}" class="logo-box">My Home</a>
    </div>
    <div class="secondary-sidebar-menu">
        <ul class="accordion-menu">
            <li class="active-page">
                <a href="{{ url_for('cms.index') }}">
                    <i class="menu-icon icon-home4"></i><span>仪表盘</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="menu-icon icon-apps"></i><span>Apps</span><i class="accordion-icon fas fa-angle-left"></i>
                </a>
                <ul class="sub-menu">
                    <li><a href="app-mailbox.html">邮箱</a></li>
                    <li><a href="app-todo.html">Todo</a></li>
                    <li><a href="app-contacts.html">联系人</a></li>
                    <li><a href="app-profile.html">文档</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="menu-icon icon-layers"></i><span>布局</span><i class="accordion-icon fas fa-angle-left"></i>
                </a>
                <ul class="sub-menu">
                    <li><a href="layout-blank.html">空白页</a></li>
                    <li><a href="layout-collapsed-sidebar.html">侧边栏收起</a></li>
                    <li><a href="layout-fixed-header.html">固定头</a></li>
                    <li><a href="layout-fixed-sidebar.html">固定侧边栏</a></li>
                    <li><a href="layout-fixed-sidebar-header.html">固定头和侧边栏</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="menu-icon icon-brush"></i><span>样式</span><i class="accordion-icon fas fa-angle-left"></i>
                </a>
                <ul class="sub-menu">
                    <li><a href="style-typography.html">排版</a></li>
                    <li><a href="style-code.html">代码</a></li>
                    <li><a href="style-tables.html">表格</a></li>
                    <li><a href="style-icons.html">图标</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="menu-icon icon-flash_on"></i><span>组件</span><i class="accordion-icon fas fa-angle-left"></i>
                </a>
                <ul class="sub-menu">
                    <li><a href="comp-alerts.html">提醒</a></li>
                    <li><a href="comp-badge.html">标记</a></li>
                    <li><a href="comp-breadcrumb.html">浏览路径</a></li>
                    <li><a href="comp-buttons.html">按钮</a></li>
                    <li><a href="comp-btn-group.html">按钮组</a></li>
                    <li><a href="comp-card.html">卡片</a></li>
                    <li><a href="comp-collapse.html">隐藏</a></li>
                    <li><a href="comp-dropdowns.html">下拉选择</a></li>
                    <li><a href="comp-lists.html">list</a></li>
                    <li><a href="comp-media-object.html">多媒体</a></li>
                    <li><a href="comp-modal.html">弹出对话框</a></li>
                    <li><a href="comp-navs.html">导航</a></li>
                    <li><a href="comp-navbar.html">导航条</a></li>
                    <li><a href="comp-pagination.html">分页跳转</a></li>
                    <li><a href="comp-popovers.html">点击提示框</a></li>
                    <li><a href="comp-progress.html">进度条</a></li>
                    <li><a href="comp-spinners.html">刷新动画</a></li>
                    <li><a href="comp-toasts.html">信息显示框</a></li>
                    <li><a href="comp-tooltips.html">工具使用提示</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="menu-icon icon-code"></i><span>表单</span><i class="accordion-icon fas fa-angle-left"></i>
                </a>
                <ul class="sub-menu">
                    <li><a href="form-elements.html">表单元素</a></li>
                    <li><a href="form-upload.html">文件上传</a></li>
                    <li><a href="form-image-crop.html">图像操作</a></li>
                    <li><a href="form-image-zoom.html">图像放大查看</a></li>
                    <li><a href="form-select2.html">下拉筛选框</a></li>
                </ul>
            </li>
            <li>
                <a href="charts.html">
                    <i class="menu-icon icon-show_chart"></i><span>图表</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="menu-icon icon-star"></i><span>页</span><i class="accordion-icon fas fa-angle-left"></i>
                </a>
                <ul class="sub-menu">
                    <li><a href="invoice.html">发票</a></li>
                    <li><a href="404.html">404 Page</a></li>
                    <li><a href="500.html">500 Page</a></li>
                    <li><a href="coming-soon.html">稍候</a></li>
                    <li><a href="help-center.html">帮助中心r</a></li>
                    <li><a href="login.html">登录</a></li>
                    <li><a href="register.html">注册</a></li>
                    <li><a href="lockscreen.html">锁屏</a></li>
                    <li><a href="pricing-tables.html">激活价格表</a></li>
                </ul>
            </li>
            <li class="menu-divider"></li>
            <li>
                <a href="#">
                    <i class="menu-icon icon-help_outline"></i><span>文档</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="menu-icon icon-public"></i><span>版本更新说明</span><span class="badge badge-danger">1.0</span>
                </a>
            </li>
        </ul>
    </div>
</div>
