/** initialize css counter
  * 从h2开始编号 
  */
:root {
    --select-text-bg-color: #d8bf9d; 
}

img {
    filter: drop-shadow(3px 3px 2px gray);
    border-radius: 8px;
}

p .md-image:only-child {
    width: auto;
    text-align: left;
}

@font-face {
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: normal;
    src: local('PingFang SC');
}

#write {
    max-width: 98%;
    margin: 0 auto;
    padding: 20px 30px 40px 30px;
    padding-top: 20px;
    padding-bottom: 100px;
    justify-content: flex-start;
    /*web视图 flex-start*/
    align-content: flex-start;
}

/*源代码模式的宽度*/
#typora-source .CodeMirror-lines {
    max-width: auto;
}

/*代码快的宽度*/
.md-fences {
    max-width: auto;
}

#write {
    counter-reset: h2
}

h1 {
    text-align: center
}

h2 {
    counter-reset: h3
}

h3 {
    counter-reset: h4
}

h4 {
    counter-reset: h5
}

h5 {
    counter-reset: h6
}

/** put counter result into headings */

#write h2:before {
    counter-increment: h2;
    content: counter(h2) ". "
}

#write h3:before {
    counter-increment: h3;
    content: counter(h2) "."counter(h3) ". "
}

#write h4:before,
h4.md-focus.md-heading:before

/** override the default style for focused headings */
    {
    counter-increment: h4;
    content: counter(h2) "."counter(h3) "."counter(h4) ". "
}

#write h5:before,
h5.md-focus.md-heading:before {
    counter-increment: h5;
    content: counter(h2) "."counter(h3) "."counter(h4) "."counter(h5) ". "
}

#write h6:before,
h6.md-focus.md-heading:before {
    counter-increment: h6;
    content: counter(h2) "."counter(h3) "."counter(h4) "."counter(h5) "."counter(h6) ". "
}

/** override the default style for focused headings */
#write>h3.md-focus:before,
#write>h4.md-focus:before,
#write>h5.md-focus:before,
#write>h6.md-focus:before,
h3.md-focus:before,
h4.md-focus:before,
h5.md-focus:before,
h6.md-focus:before {
    color: inherit;
    border: inherit;
    border-radius: inherit;
    position: inherit;
    left: initial;
    float: none;
    top: initial;
    font-size: inherit;
    padding-left: inherit;
    padding-right: inherit;
    vertical-align: inherit;
    font-weight: inherit;
    line-height: inherit;
}

.sidebar-content {
    counter-reset: h2
}

.outline-h2 {
    counter-reset: h3
}

.outline-h3 {
    counter-reset: h4
}

.outline-h4 {
    counter-reset: h5
}

.outline-h5 {
    counter-reset: h6
}

.outline-h2>.outline-item>.outline-label:before {
    counter-increment: h2;
    content: counter(h2) ". "
}

.outline-h3>.outline-item>.outline-label:before {
    counter-increment: h3;
    content: counter(h2) "."counter(h3) ". "
}

.outline-h4>.outline-item>.outline-label:before {
    counter-increment: h4;
    content: counter(h2) "."counter(h3) "."counter(h4) ". "
}

.outline-h5>.outline-item>.outline-label:before {
    counter-increment: h5;
    content: counter(h2) "."counter(h3) "."counter(h4) "."counter(h5) ". "
}

.outline-h6>.outline-item>.outline-label:before {
    counter-increment: h6;
    content: counter(h2) "."counter(h3) "."counter(h4) "."counter(h5) "."counter(h6) ". "
}

/**************************************
 * Header Counters in TOC
 **************************************/

/* No link underlines in TOC */
.md-toc-inner {
    text-decoration: none;
}

.md-toc-content {
    counter-reset: h2toc
}

.md-toc-h2 {
    font-size: 1.1rem;
    margin-left: 2rem;
    counter-reset: h3toc
}

.md-toc-h3 {
    margin-left: 3rem;
    font-size: .9rem;
    counter-reset: h4toc
}

.md-toc-h4 {
    margin-left: 4rem;
    font-size: .85rem;
    counter-reset: h5toc
}

.md-toc-h5 {
    margin-left: 5rem;
    font-size: .8rem;
    counter-reset: h6toc
}

.md-toc-h6 {
    margin-left: 6rem;
    font-size: .75rem;
}

.md-toc-h2 .md-toc-inner {
    margin-left: 0;
}

.md-toc-h2:before {
    color: black;
    counter-increment: h2toc;
    content: counter(h2toc) ". "
}

.md-toc-h2 .md-toc-inner {
    margin-left: 0;
}

.md-toc-h3:before {
    color: black;
    counter-increment: h3toc;
    content: counter(h2toc) ". "counter(h3toc) ". "
}

.md-toc-h3 .md-toc-inner {
    margin-left: 0;
}

.md-toc-h4:before {
    color: black;
    counter-increment: h4toc;
    content: counter(h1toc) ". "counter(h2toc) ". "counter(h3toc) ". "counter(h4toc) ". "
}

.md-toc-h4 .md-toc-inner {
    margin-left: 0;
}

.md-toc-h5:before {
    color: black;
    counter-increment: h5toc;
    content: counter(h1toc) ". "counter(h2toc) ". "counter(h3toc) ". "counter(h4toc) ". "counter(h5toc) ". "
}

.md-toc-h5 .md-toc-inner {
    margin-left: 0;
}

.md-toc-h6:before {
    color: black;
    counter-increment: h6toc;
    content: counter(h1toc) ". "counter(h2toc) ". "counter(h3toc) ". "counter(h4toc) ". "counter(h5toc) ". "counter(h6toc) ". "
}

.md-toc-h6 .md-toc-inner {
    margin-left: 0;
}

/* ============================自定义主题============================== */
/* 文件树一行的高度 */
.file-node-content {
    padding-top: 0px;
    margin-bottom: 1px;
    line-height: 20px;
    color: #777;
    color: var(--control-text-color);
    white-space: nowrap;
    padding-right: 0px !important;
}

/* 文件树文本大小 */
.sidebar-content-content {
    font-size: 18px;
}

/* 文件被选中背景框高度 */
.file-node-background {
    height: 10px;
}

.file-tree-node.active>.file-node-background {
    /* background-color: #eee; */
    border-color: #e705fb;
}


/* 文件图标喝打开时高度 */
.file-node-icon,
.file-node-open-state {
    line-height: 10px;
    min-height: 10px;
}

/* 搜索框高度*/
.ty-show-outline-filter #file-library-search,
.ty-show-search #file-library-search {
    height: 20px;
}

/* 树距顶部的距离 */
.native-window .sidebar-content {
    top: 25px;
}

.ty-sidebar-search-panel {
    padding: 1px;
    padding-left: 50px;
}

.ty-search-item-summary .file-list-item-parent-loc {
    display: block;
    padding-left: 24px;
    float: table;
    width: 90%;
    font-size: 12px;
    line-height: 12px;
    padding-top: 0px;
    font-weight: bold;
    color: rgb(225, 1, 255);
}

.ty-search-item-line {
    padding: 1px;
}

.ty-search-item-summary {
    line-height: 10px;
    padding-top: 0px;
    position: relative;
    font-size: 12px;
}

/* 搜索输入框高度*/
#file-library-search-input {
    width: 100%;
    height: 20px;
}

/* 文件和大纲据顶部的距离 */
.native-window .info-panel-tab {
    margin-top: 0px;
}

.info-panel-tab-title {
    line-height: 0.6rem;
    font-size: 10px;
    padding-bottom: .4rem;
}

/* 文件和大纲激活字体大小 */
.active-tab-files #info-panel-tab-file,
.active-tab-files #info-panel-tab-file:hover,
.active-tab-outline #info-panel-tab-outline,
.active-tab-outline #info-panel-tab-outline:hover {
    font-weight: 1000;
    opacity: 1;
}

/* 文件和大纲下方滑动条高度 */
.active-tab-files #info-panel-tab-file .info-panel-tab-border,
.active-tab-outline #info-panel-tab-outline .info-panel-tab-border,
.ty-show-search #info-panel-tab-search .info-panel-tab-border {
    height: 1px;
}

/* ============================自定义主题============================== */