{% extends 'base.html' %}
{% block title %}
404
{% endblock %}
{% block page_content %}
<div class="error-404">
    <div class="error-bg"></div>
    <div class="error-info">
        <div class="error-text">
            <div class="error-header">
                <h3>404</h3>
            </div>
            <div class="error-body">
                <p>It seems that page you are looking for no longer exists.<br>This is all we know.<br>Please <a
                        href="">contact</a> our help center or go to the <a href="index.html">homepage</a>.</p>
            </div>
            <div class="error-footer">
                <p>Copyright @Stacks</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
