{% extends 'base.html' %}
{% block title %}
500
{% endblock %}
{% block page_content %}
<div class="error-500">
    <div class="error-bg"></div>
    <div class="error-info">
        <div class="error-text">
            <div class="error-header">
                <h3>500</h3>
            </div>
            <div class="error-body">
                <p>Ooopss... Something went wrong.<br>Try refreshing the page or <a href="">contact</a> our help center.
                </p>
            </div>
            <div class="error-footer">
                <p>Copyright @Stacks</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
