{% extends 'base.html' %}
{% block title %}
coming-soon
{% endblock %}

{% block page_content %}

<div class="error-coming-soon">
    <div class="error-bg"></div>
    <div class="error-info">
        <div class="error-text">
            <div class="error-header">
                <h3>117<span>Days</span><br>15<span>Hrs</span></h3>
            </div>
            <div class="error-body">
                <p>This page is under construction.<br>We will be back shortly.<br>Try refreshing the page or <a
                        href="">contact</a> our help center.</p>
            </div>
            <div class="error-footer">
                <p>Copyright @Stacks</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
        
