{% extends 'base.html' %}
{% block title %}
    login
{% endblock %}

<!-- Page Container -->
{% block page_content %}
    <div class="login">
        <div class="login-bg"></div>
        <div class="login-content">
            <div class="login-box">
                <div class="login-header">
                    <h3>Log In</h3>
                    <p>请登录后继续.</p>
                </div>
                <div class="login-body">
                    <form method="post">
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                   aria-describedby="emailHelp" name="email" placeholder="邮箱">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control" id="exampleInputPassword1"
                                   placeholder="密码">
                        </div>
                        <div class="custom-control custom-checkbox form-group">
                            <input type="checkbox" name="remember" value="1" class="custom-control-input" id="exampleCheck1">
                            <label class="custom-control-label" for="exampleCheck1">记住我</label>
                            {% if message %}
                            <label class="text-danger" >{{ message }}</label>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-primary">登录</button>
                    </form>
                    <p class="m-t-sm"><a href="#">忘记密码?</a><br><a href="register.html">注册</a>
                    </p>
                </div>
                <div class="login-footer">
                    <p>Copyright @Stacks</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

